<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header"><strong>{{language.estimategroupMaster}}</strong></div>
        <div class="card-body">
          <div class="form-group mb-0">
            <div class="checkbox">
                <label class="d-flex align-items-center justify-content-end">
                    <input id="agree" class="mr-1" type="checkbox" name="agree" [(ngModel)]="isActive"
                        value="agree"> Is Active
                </label>
            </div>
        </div>
          <div class="row align-items-center">
            <div class="form-backgrond">
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="appendedInput">{{language.estimationcodegroup}}</label>
                  <div class="input-group bar-box">
                    <input class="form-control" [disabled]= "isdisabled" [(ngModel)]="estgrpAddeditModel.OPTM_ESTGROUPCODE" id="appendedInput"
                      type="text">
                  </div>
                </div>
              </div>

              <div class="col-sm-4">
                <div class="form-group">
                  <label for="name">{{language.description}}</label>
                  <input type="text" id="name" placeholder="" [(ngModel)]="estgrpAddeditModel.OPTM_ESTGROUPDESC"
                    class="form-control">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="name">{{language.displayGroup}}</label>
                  <input type="text" id="name" placeholder="" [(ngModel)]="estgrpAddeditModel.OPTM_DSP_ORDER"
                    class="form-control">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-backgrond">
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="name">{{language.Markup_Category_Code}}</label>
                  <div class="input-group bar-box">
                    <input class="form-control" id="appendedInput" type="text"
                      [(ngModel)]="estgrpAddeditModel.OPTM_MARKUP_CODE">

                    <div class="input-group-append" (click)="fetchMarkupctglookupData()">
                      <span class="input-group-text">
                        <i class="fa fa-bars"></i>
                      </span>
                    </div>
                  </div>

                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="ccnumber">{{language.propertygroup}}</label>
                  <input type="text" id="ccnumber" [(ngModel)]="estgrpAddeditModel.OPTM_PROPERTYGRPCODE" placeholder=""
                    class="form-control">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="name">{{language.overheadGroup}}</label>
                  <div class="input-group bar-box">
                    <input class="form-control" id="appendedInput" type="text"
                      [(ngModel)]="estgrpAddeditModel.OPTM_OVERHEADGRPCODE">

                    <div class="input-group-append" (click)="fetchOverHeadlookupData()">
                      <span class="input-group-text">
                        <i class="fa fa-bars"></i>
                      </span>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button type="submit" (click)="onSave()" class="btn btn-sm btn-success">
            <i class="fa fa-dot-circle-o"></i> {{language.Save}}
          </button>
          <button type="reset" routerLink="{{view_route_link}}" class="btn btn-sm btn-danger">
            <i class="fa fa-ban"></i> {{language.Cancel}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<span *ngIf="showLookupLoader">
  <app-lookup [lookupfor]='lookupfor' [serviceData]='serviceData' [selectedImage]="selectedImage"
    (lookupvalue)="getLookupValue($event)" (lookupvalues)="getLookupValues($event)"></app-lookup>
</span>