<div class="layout-mode" fxFlex fxLayout="column">
    <div class="page-header">
        <h4>{{page_main_title}}</h4>
    </div>
    <div class="card" fxFlex>
        <div class="card-body pb-2" fxFlex fxLayout="column">
            <form class="form-horizontal" fxFlex="0 1 100%" fxLayout="column">
                <div class="main-portion">
                    <div class="row h-100">
                        <div class="col-md-12 d-flex flex-column" id="left-table-section">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="row">
                                        <label class="col-sm-4 col-form-label required" for="customer_doc"> Product
                                            Code</label>
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                <input type="text" ngValue="" class="form-control form-control-sm" name="customer"
                                                    id="customer" placeholder="" [(ngModel)]="product_code" #customer>
                                                <div class="input-group-append">
                                                    <span class="btn btn-sm btn-primary cursor-pointer btn-icon" id="basic-addon2"
                                                        (click)="fetchProducts()">
                                                        <svg viewBox="0 -96 512 512" class="icon m-0">
                                                            <use xlink:href="#menu"></use>
                                                        </svg>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="row mb-5">
                                        <label class="col-sm-4 col-form-label" for="customer_doc">Product Name</label>
                                        <div class="col-sm-8">
                                            <input type="text" ngValue="" class="form-control form-control-sm" name="customer_name"
                                                id="customer_name" placeholder="" [(ngModel)]="product_name"
                                                #customername>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="tab" >

                                <button class="tablinks active" (click)="openGridTab($event, 'Material')">Material</button>
                                <button class="tablinks" (click)="openGridTab($event, 'Design')">Labor</button>

                            </div>

                            <!-- Add Row Grid -->
                            <div id="Material" class="tabcontent h-100">
                                <div class="col-md-12 border-left-primary mb-p-0 mb-t-2" [ngStyle]="{'height':'50%'}">
                                    <kendo-grid [kendoGridBinding]="material_data" [reorderable]="true" [resizable]="true"
                                        [sortable]="false" [groupable]="false" [filterable]="false" [selectable]="selectableSettings"
                                        [kendoGridSelectBy]="'rowIndex'" [ngStyle]="{'height':'100%', 'max-width':'100%'}"
                                        [selectedKeys]="row_selection" (selectionChange)="getSelectedRowDetail($event)">
                                        <ng-template kendoGridToolbarTemplate>
                                            <div class="d-flex align-items-center">
                                                <button [ngStyle]="{'padding':'3px 5px','min-height':'22px'}" type="button"
                                                    title="Add Row" (click)="addRow()" #button class="btn btn-sm btn-primary with-icon mr-2"><svg
                                                        viewBox="0 0 81500 81500" class="icon">
                                                        <use xlink:href="#add"></use>
                                                    </svg> Add Row
                                                </button>
                                            </div>
                                        </ng-template>
                                        <kendo-grid-column field="" title="LineNo" filter="text" [width]="50"
                                            [minResizableWidth]="50">
                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                <input type="text" disabled ="true" class="form-control  form-control-sm" id="" value='{{dataItem.rowIndex}}' />
                                            </ng-template>
                                        </kendo-grid-column>
                                        <kendo-grid-column field="" title="Description" filter="text" [width]="150"
                                            [minResizableWidth]="150">
                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                <input type="text" class="form-control  form-control-sm" id="" value={{dataItem.Description}}
                                                    (change)="onChange(dataItem.rowIndex,Description.value,Description.title)"
                                                    #Description title="Description" />
                                            </ng-template>
                                        </kendo-grid-column>
                                        <kendo-grid-column field="" title="MaterialCode" filter="text" [width]="150"
                                            [minResizableWidth]="150">
                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                <input type="text" class="form-control  form-control-sm" id="" value={{dataItem.MaterialCode}}
                                                    (change)="onMaterialCodeChange(dataItem.rowIndex,MaterialCode.value,MaterialCode.title)"
                                                    #MaterialCode title="MaterialCode" />
                                            </ng-template>
                                        </kendo-grid-column>
                                        <kendo-grid-column field="" title="Thickness" filter="text" [width]="150"
                                            [minResizableWidth]="150">
                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                <input type="text" disabled="true" class="form-control  form-control-sm text-right" id="" value={{dataItem.Thickness}}
                                                    (change)="onChange(dataItem.rowIndex,Thickness.value,Thickness.title)"
                                                    #Thickness title="Thickness" />
                                            </ng-template>
                                        </kendo-grid-column>
                                        <kendo-grid-column field="" title="Material" filter="text" [width]="150"
                                            [minResizableWidth]="150">
                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                <input type="text" disabled="true" class="form-control  form-control-sm" id="" value={{dataItem.Material}}
                                                    (change)="onChange(dataItem.rowIndex,Material.value,Material.title)"
                                                    #Material title="Material" />
                                            </ng-template>
                                        </kendo-grid-column>
                                        <kendo-grid-column field="" title="Type" filter="text" [width]="150"
                                            [minResizableWidth]="150">
                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                <input type="text" disabled="true" class="form-control  form-control-sm" id="" value={{dataItem.Type}}
                                                    (change)="onChange(dataItem.rowIndex,Type.value,Type.title)" #Type
                                                    title="Type" />
                                            </ng-template>
                                        </kendo-grid-column>                                        
                                        <kendo-grid-column field="" title="Qty" filter="text" [width]="150"
                                            [minResizableWidth]="150">
                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                <input type="text" class="form-control  form-control-sm text-right" id="" value={{dataItem.Qty}}
                                                    (change)="onChange(dataItem.rowIndex,Qty.value,Qty.title)" #Qty
                                                    title="Qty" />
                                            </ng-template>
                                        </kendo-grid-column>
                                        <kendo-grid-column field="" title="Length" filter="text" [width]="150"
                                            [minResizableWidth]="150">
                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                <input type="text" class="form-control  form-control-sm text-right" id="" value={{dataItem.Length}}
                                                    (change)="onChange(dataItem.rowIndex,Length.value,Length.title)"
                                                    #Length title="Length" />
                                            </ng-template>
                                        </kendo-grid-column>
                                        <kendo-grid-column field="" title="Width" filter="text" [width]="150"
                                            [minResizableWidth]="150">
                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                <input type="text" class="form-control  form-control-sm text-right" id="" value={{dataItem.Width}}
                                                    (change)="onChange(dataItem.rowIndex,Width.value,Width.title)"
                                                    #Width title="Width" />
                                            </ng-template>
                                        </kendo-grid-column>
                                        <kendo-grid-column field="" title="Area" filter="text" [width]="150"
                                            [minResizableWidth]="150">
                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                <input type="text" disabled="true" class="form-control  form-control-sm text-right"
                                                    id="" value={{dataItem.Area}} (change)="onChange(dataItem.rowIndex,Area.value,Area.title)"
                                                    #Area title="Area" />
                                            </ng-template>
                                        </kendo-grid-column>
                                        <kendo-grid-column field="" title="Perimeter" filter="text" [width]="150"
                                            [minResizableWidth]="150">
                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                <input type="text" disabled="true" class="form-control  form-control-sm text-right"
                                                    id="" value={{dataItem.Perimeter}} (change)="onChange(dataItem.rowIndex,Perimeter.value,Perimeter.title)"
                                                    #Perimeter title="Perimeter" />
                                            </ng-template>
                                        </kendo-grid-column>
                                        <kendo-grid-column field="" title="DropPerc" filter="text" [width]="150"
                                            [minResizableWidth]="150">
                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                <input type="text"  class="form-control  form-control-sm text-right"
                                                    id="" value={{dataItem.MatAllowPerc}} (change)="onChange(dataItem.rowIndex,MatAllowPerc.value,MatAllowPerc.title)"
                                                    #MatAllowPerc title="MatAllowPerc" />
                                            </ng-template>
                                        </kendo-grid-column>
                                        <kendo-grid-column field="" title="Drop" filter="text" [width]="150"
                                            [minResizableWidth]="150">
                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                <input type="text" disabled="true" class="form-control  form-control-sm text-right"
                                                    id="" value={{dataItem.Drop}} (change)="onChange(dataItem.rowIndex,Drop.value,Drop.title)"
                                                    #Drop title="" />
                                            </ng-template>
                                        </kendo-grid-column>
                                        <kendo-grid-column field="" title="Total Area" filter="text" [width]="150"
                                            [minResizableWidth]="150">
                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                <input type="text" disabled="true" class="form-control  form-control-sm text-right"
                                                    id="" value={{dataItem.Total_Area}} (change)="onChange(dataItem.rowIndex,totalArea.value,totalArea.title)"
                                                    #totalArea title="Total_Area" />
                                            </ng-template>
                                        </kendo-grid-column>
                                        <kendo-grid-column field="" title="Inner Area" filter="text" [width]="150"
                                            [minResizableWidth]="150">
                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                <input type="text" class="form-control  form-control-sm text-right" id="" value={{dataItem.Inner_Area}}
                                                    (change)="onChange(dataItem.rowIndex,innerArea.value,innerArea.title)"
                                                    #innerArea title="Inner_Area" />
                                            </ng-template>
                                        </kendo-grid-column>
                                        <kendo-grid-column field="" title="# of Holes" filter="text" [width]="150"
                                            [minResizableWidth]="150">
                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                <input type="text" class="form-control  form-control-sm text-right" id="" value={{dataItem.Holes}}
                                                    (change)="onChange(dataItem.rowIndex,Holes.value,Holes.title)"
                                                    #Holes title="Holes" />
                                            </ng-template>
                                        </kendo-grid-column>
                                        <kendo-grid-column field="" title="Hole Size" filter="text" [width]="150"
                                            [minResizableWidth]="150">
                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                <input type="text" class="form-control  form-control-sm text-right" id="" value={{dataItem.Hole_Size}}
                                                    (change)="onChange(dataItem.rowIndex,HoleSize.value,HoleSize.title)"
                                                    #HoleSize title="Hole_Size" />
                                            </ng-template>
                                        </kendo-grid-column>
                                        <kendo-grid-column field="" title="Circumference" filter="text" [width]="150"
                                            [minResizableWidth]="150">
                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                <input type="text" disabled="true" class="form-control  form-control-sm text-right"
                                                    id="" value={{dataItem.Circumference}} (change)="onChange(dataItem.rowIndex,Circumference.value,Circumference.title)"
                                                    #Circumference title="Circumference" />
                                            </ng-template>
                                        </kendo-grid-column>
                                        <kendo-grid-column field="" title="# Of Slots" filter="text" [width]="150"
                                            [minResizableWidth]="150">
                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                <input type="text" class="form-control  form-control-sm text-right" id="" value={{dataItem.Slots}}
                                                    (change)="onChange(dataItem.rowIndex,Slots.value,Slots.title)"
                                                    #Slots title="Slots" />
                                            </ng-template>
                                        </kendo-grid-column>
                                        <kendo-grid-column field="" title="Slot Lg" filter="text" [width]="150"
                                            [minResizableWidth]="150">
                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                <input type="text" class="form-control  form-control-sm text-right" id="" value={{dataItem.Slots_Lg}}
                                                    (change)="onChange(dataItem.rowIndex,Slots_lg.value,Slots_lg.title)"
                                                    #Slots_lg title="Slots_Lg" />
                                            </ng-template>
                                        </kendo-grid-column>
                                        <kendo-grid-column field="" title="Slot Width" filter="text" [width]="150"
                                            [minResizableWidth]="150">
                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                <input type="text" class="form-control  form-control-sm text-right" id="" value={{dataItem.Slots_Width}}
                                                    (change)="onChange(dataItem.rowIndex,Slots_Width.value,Slots_Width.title)"
                                                    #Slots_Width title="Slots_Width" />
                                            </ng-template>
                                        </kendo-grid-column>
                                        <kendo-grid-column field="" title="Circumference" filter="text" [width]="150"
                                            [minResizableWidth]="150">
                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                <input type="text" disabled="true" class="form-control  form-control-sm text-right"
                                                    id="" value={{dataItem.Circumference1}} (change)="onChange(dataItem.rowIndex,Circumference1.value,Circumference1.title)"
                                                    #Circumference1 title="Circumference1" />
                                            </ng-template>
                                        </kendo-grid-column>
                                        <kendo-grid-column field="" title="Insets" filter="text" [width]="150"
                                            [minResizableWidth]="150">
                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                <input type="text" class="form-control  form-control-sm text-right" id="" value={{dataItem.Insets}}
                                                    (change)="onChange(dataItem.rowIndex,Insets.value,Insets.title)"
                                                    #Insets title="Insets" />
                                            </ng-template>
                                        </kendo-grid-column>
                                        <!-- <kendo-grid-column field="" title="Sheet Lg" filter="text" [width]="150"
                                            [minResizableWidth]="150">
                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                <input type="text" class="form-control  form-control-sm text-right" id="" value={{dataItem.Sheet_Lg}}
                                                    (change)="onChange(dataItem.rowIndex,Sheet_Lg.value,Sheet_Lg.title)"
                                                    #Sheet_Lg title="Sheet_Lg" />
                                            </ng-template>
                                        </kendo-grid-column>
                                        <kendo-grid-column field="" title="Sheet Width" filter="text" [width]="150"
                                            [minResizableWidth]="150">
                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                <input type="text" class="form-control  form-control-sm text-right" id="" value={{dataItem.Sheet_Width}}
                                                    (change)="onChange(dataItem.rowIndex,Sheet_Width.value,Sheet_Width.title)"
                                                    #Sheet_Width title="Sheet_Width" />
                                            </ng-template>
                                        </kendo-grid-column>
                                        <kendo-grid-column field="" title="Sheet Area" filter="text" [width]="150"
                                            [minResizableWidth]="150">
                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                <input type="text" class="form-control  form-control-sm text-right" id="" value={{dataItem.Sheet_Area}}
                                                    (change)="onChange(dataItem.rowIndex,Sheet_Area.value,Sheet_Area.title)"
                                                    #Sheet_Area title="Sheet_Area" />
                                            </ng-template>
                                        </kendo-grid-column>

                                        <kendo-grid-column field="" title="Parts Per Sheet" filter="text" [width]="150"
                                            [minResizableWidth]="150">
                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                <input type="text" class="form-control  form-control-sm text-right" id="" value={{dataItem.Parts_Per_Sheet}}
                                                    (change)="onChange(dataItem.rowIndex,PPS.value,PPS.title)" #PPS
                                                    title="Parts_Per_Sheet" />
                                            </ng-template>
                                        </kendo-grid-column>
                                        <kendo-grid-column field="" title="Sheets Reqd" filter="text" [width]="150"
                                            [minResizableWidth]="150">
                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                <input type="text" class="form-control  form-control-sm text-right" id="" value={{dataItem.Sheets_Reqd}}
                                                    (change)="onChange(dataItem.rowIndex,SheetsReq.value,SheetsReq.title)"
                                                    #SheetsReq title="Sheets_Reqd" />
                                            </ng-template>
                                        </kendo-grid-column> -->


                                        <kendo-grid-column field="delete" title="" template="" [width]="60"
                                            [minResizableWidth]="60">
                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                <button type="button" class="btn btn-danger btn-sm btn-icon" (click)="onDeleteRow(dataItem.rowIndex)">
                                                    <svg viewBox="0 0 753.23 753.23" class="icon">
                                                        <use xlink:href="#bin"></use>
                                                    </svg>
                                                </button>
                                            </ng-template>
                                        </kendo-grid-column>

                                    </kendo-grid>
                                </div>
                                <HR>
                                <div class="col-md-12 border-left-primary mb-p-0 mb-t-2" [ngStyle]="{'height':'40%'}">
                                    <kendo-grid [kendoGridBinding]="sheet_summary" [reorderable]="true" [resizable]="true"
                                        [sortable]="false" [groupable]="false" [filterable]="false" [selectable]="selectableSettings"
                                        [kendoGridSelectBy]="'rowIndex'" [ngStyle]="{'height':'100%', 'max-width':'100%'}"
                                        [selectedKeys]="row_selection" (selectionChange)="getSelectedRowDetail($event)">
                                        
                                        <kendo-grid-column field="" title="MaterialCode" filter="text" [width]="150"
                                            [minResizableWidth]="150">
                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                <input type="text" disabled="true" class="form-control  form-control-sm text-right" id="" value={{dataItem.MaterialCode}}
                                                    #MaterialCode_1 title="MaterialCode" />
                                            </ng-template>
                                        </kendo-grid-column>

                                        <kendo-grid-column field="" title="Thickness" filter="text" [width]="150"
                                            [minResizableWidth]="150">
                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                <input type="text" disabled="true" class="form-control  form-control-sm text-right" id="" value={{dataItem.Thickness}}
                                                    #Thickness_1 title="Thickness" />
                                            </ng-template>
                                        </kendo-grid-column>
                                        
                                        <kendo-grid-column field="" title="Material" filter="text" [width]="150"
                                            [minResizableWidth]="150">
                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                <input type="text" disabled="true" class="form-control  form-control-sm" id="" value={{dataItem.Material}}
                                                    (change)="onChange(dataItem.rowIndex,Material.value,Material.title)"
                                                    #Material_1 title="Material" />
                                            </ng-template>
                                        </kendo-grid-column>
                                        <kendo-grid-column field="" title="Type" filter="text" [width]="150"
                                            [minResizableWidth]="150">
                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                <input type="text" disabled="true" class="form-control  form-control-sm" id="" value={{dataItem.Type}}
                                                    (change)="onChange(dataItem.rowIndex,Type.value,Type.title)" #Type_1
                                                    title="Type" />
                                            </ng-template>
                                        </kendo-grid-column>
                                        
                                        <kendo-grid-column field="" title="Total Area" filter="text" [width]="150"
                                            [minResizableWidth]="150">
                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                <input type="text" disabled="true" class="form-control  form-control-sm text-right"
                                                    id="" value={{dataItem.Total_Area}} (change)="onChange(dataItem.rowIndex,totalArea.value,totalArea.title)"
                                                    #totalArea_1 title="Total_Area" />
                                            </ng-template>
                                        </kendo-grid-column>

                                        <kendo-grid-column field="" title="Sheet Lg" filter="text" [width]="150"
                                            [minResizableWidth]="150">
                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                <input type="text" disabled="true" class="form-control  form-control-sm text-right" id="" value={{dataItem.Sheet_Lg}}
                                                    (change)="onSheetChange(dataItem.rowIndex,Sheet_Lg.value,Sheet_Lg.title)"
                                                    #Sheet_Lg title="Sheet_Lg" />
                                            </ng-template>
                                        </kendo-grid-column>
                                        <kendo-grid-column field="" title="Sheet Width" filter="text" [width]="150"
                                            [minResizableWidth]="150">
                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                <input type="text" disabled="true" class="form-control  form-control-sm text-right" id="" value={{dataItem.Sheet_Width}}
                                                    (change)="onSheetChange(dataItem.rowIndex,Sheet_Width.value,Sheet_Width.title)"
                                                    #Sheet_Width title="Sheet_Width" />
                                            </ng-template>
                                        </kendo-grid-column>
                                        <kendo-grid-column field="" title="Sheet Area" filter="text" [width]="150"
                                            [minResizableWidth]="150">
                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                <input type="text" disabled = "true" class="form-control  form-control-sm text-right" id="" value={{dataItem.Sheet_Area}}
                                                    (change)="onChange(dataItem.rowIndex,Sheet_Area.value,Sheet_Area.title)"
                                                    #Sheet_Area title="Sheet_Area" />
                                            </ng-template>
                                        </kendo-grid-column>

                                        <kendo-grid-column field="" title="Parts Per Sheet" filter="text" [width]="150"
                                            [minResizableWidth]="150">
                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                <input type="text" disabled = "true" class="form-control  form-control-sm text-right" id="" value={{dataItem.Parts_Per_Sheet}}
                                                    (change)="onChange(dataItem.rowIndex,PPS.value,PPS.title)" #PPS
                                                    title="Parts_Per_Sheet" />
                                            </ng-template>
                                        </kendo-grid-column>
                                        <kendo-grid-column field="" title="Sheets Reqd" filter="text" [width]="150"
                                            [minResizableWidth]="150">
                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                <input type="text" disabled = "true" class="form-control  form-control-sm text-right" id="" value={{dataItem.Sheets_Reqd}}
                                                    (change)="onChange(dataItem.rowIndex,SheetsReq.value,SheetsReq.title)"
                                                    #SheetsReq title="Sheets_Reqd" />
                                            </ng-template>
                                        </kendo-grid-column>
                                    </kendo-grid>
                                </div>
                            </div>

                            <div id="Design" class="tabcontent h-100">
                                <div class="d-flex" [ngStyle]="{'height':'50%', 'flex':'0 1 100%'}">
                                    <kendo-grid [kendoGridBinding]="material_Griddata" [reorderable]="true" [resizable]="true"
                                        [sortable]="false" [groupable]="false" [filterable]="false" [selectable]="selectableSettings"
                                        [kendoGridSelectBy]="'rowIndex'" [ngStyle]="{'height':'100%', 'max-width':'100%'}"
                                        [selectedKeys]="row_selection" (selectionChange)="getSelectedRowDetail($event)">
                                        <!-- <ng-template kendoGridToolbarTemplate>
                                            <div class="d-flex align-items-center">
                                                <button [ngStyle]="{'padding':'3px 5px','min-height':'22px'}" type="button"
                                                    title="Add Row" (click)="onAddRow()" #button class="btn btn-sm btn-primary with-icon mr-2"><svg
                                                        viewBox="0 0 81500 81500" class="icon">
                                                        <use xlink:href="#add"></use>
                                                    </svg> Add Row
                                                </button>
                                            </div>
                                        </ng-template> -->
                                        <kendo-grid-column field="" title="LineNo" filter="text" [width]="50"
                                            [minResizableWidth]="50">
                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                <input type="text" disabled ="true" class="form-control  form-control-sm" id="" value='{{dataItem.rowIndex}}' />
                                            </ng-template>
                                        </kendo-grid-column>
                                        <kendo-grid-column field="" title="MaterialCode" filter="text" [width]="150"
                                            [minResizableWidth]="150">
                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                <input type="text" disabled ="true" class="form-control  form-control-sm" id="" value={{dataItem.MaterialCode}} />
                                            </ng-template>
                                        </kendo-grid-column>
                                        <kendo-grid-column field="" title="Description" filter="text" [width]="150"
                                            [minResizableWidth]="150">
                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                <input type="text" disabled ="true" class="form-control  form-control-sm" id="" value={{dataItem.Description}}
                                                    (change)="onChange(dataItem.rowIndex,Description.value,Description.title)"
                                                    #Description title="Description" />
                                            </ng-template>
                                        </kendo-grid-column>
                                        <kendo-grid-column field="" title="Qty" filter="text" [width]="150"
                                            [minResizableWidth]="150">
                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                <input type="text" disabled ="true" class="form-control  form-control-sm text-right" id="" value={{dataItem.Qty}}
                                                    (change)="onChange(dataItem.rowIndex,Qty.value,Qty.title)" #Qty
                                                    title="Qty" />
                                            </ng-template>
                                        </kendo-grid-column>
                                        <kendo-grid-column field="" title="Design Total Min" filter="text" [width]="150"
                                            [minResizableWidth]="150">
                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                <input type="text" class="form-control  form-control-sm text-right" id="" value={{dataItem.Design_Total_Min}}
                                                    (change)="onChangegrid(dataItem.rowIndex,Design_Total_Min.value,Design_Total_Min.title)"
                                                    #Design_Total_Min title="Design_Total_Min" />
                                            </ng-template>
                                        </kendo-grid-column>
                                        <kendo-grid-column field="" title="Design Total hrs" filter="text" [width]="150"
                                            [minResizableWidth]="150">
                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                <input type="text" disabled="true" class="form-control  form-control-sm text-right"
                                                    id="" value={{dataItem.Design_Total_hrs}} (change)="onChangegrid(dataItem.rowIndex,Design_Total_hrs.value,Design_Total_hrs.title)"
                                                    #Design_Total_hrs title="Design_Total_hrs" />
                                            </ng-template>
                                        </kendo-grid-column>                                        
                                        <kendo-grid-column field="" title="Program - Hours" filter="text" [width]="150"
                                            [minResizableWidth]="150">
                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                <input type="text" disabled="true" class="form-control  form-control-sm text-right" id="" value={{dataItem.Program}}                                                    
                                                    #Program title="Program - Hours" />
                                            </ng-template>
                                        </kendo-grid-column>
                                        <kendo-grid-column field="" title="Deburr Inches / Min" filter="text" [width]="150"
                                            [minResizableWidth]="150">
                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                <input type="text" class="form-control  form-control-sm text-right" id="" value={{dataItem.Deburr_Inches}}
                                                    (change)="onChangegrid(dataItem.rowIndex,Deburr_Inches.value,Deburr_Inches.title)"
                                                    #Deburr_Inches title="Deburr_Inches" />
                                            </ng-template>
                                        </kendo-grid-column>
                                        <kendo-grid-column field="" title="Deburr Total Min" filter="text" [width]="150"
                                            [minResizableWidth]="150">
                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                <input type="text" disabled ="true" class="form-control  form-control-sm text-right" id="" value={{dataItem.Deburr_Total_Min}}
                                                    (change)="onChangegrid(dataItem.rowIndex,Deburr_Total_Min.value,Deburr_Total_Min.title)"
                                                    #Deburr_Total_Min title="Deburr_Total_Min" />
                                            </ng-template>
                                        </kendo-grid-column>
                                        <kendo-grid-column field="" title="Deburr Total Hrs" filter="text" [width]="150"
                                            [minResizableWidth]="150">
                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                <input type="text" disabled="true" class="form-control  form-control-sm text-right"
                                                    id="" value={{dataItem.Deburr_Total_Hrs}} (change)="onChangegrid(dataItem.rowIndex,Deburr_Total_Hrs.value,Deburr_Total_Hrs.title)"
                                                    #Deburr_Total_Hrs title="Deburr_Total_Hrs" />
                                            </ng-template>
                                        </kendo-grid-column>
                                        <kendo-grid-column field="" title="Machine Passes" filter="text" [width]="150"
                                            [minResizableWidth]="150">
                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                <input type="text" class="form-control  form-control-sm text-right" id="" value={{dataItem.Machine_Passes}}
                                                    (change)="onChangegrid(dataItem.rowIndex,Machine_Passes.value,Machine_Passes.title)"
                                                    #Machine_Passes title="Machine_Passes" />
                                            </ng-template>
                                        </kendo-grid-column>
                                        <kendo-grid-column field="" title="Machine Total Min" filter="text" [width]="150"
                                            [minResizableWidth]="150">
                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                <input type="text" disabled ="true" class="form-control  form-control-sm text-right" id="" value={{dataItem.Machine_Total_Min}}
                                                    (change)="onChangegrid(dataItem.rowIndex,Machine_Total_Min.value,Machine_Total_Min.title)"
                                                    #Machine_Total_Min title="Machine_Total_Min" />
                                            </ng-template>
                                        </kendo-grid-column>
                                        <kendo-grid-column field="" title="Machine Total Hrs" filter="text" [width]="150"
                                            [minResizableWidth]="150">
                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                <input type="text" disabled="true" class="form-control  form-control-sm text-right"
                                                    id="" value={{dataItem.Machine_Total_Hrs}} (change)="onChangegrid(dataItem.rowIndex,Machine_Total_Hrs.value,Machine_Total_Hrs.title)"
                                                    #Machine_Total_Hrs title="Machine_Total_Hrs" />
                                            </ng-template>
                                        </kendo-grid-column>
                                        <kendo-grid-column field="" title="Machine SetUp Time" filter="text" [width]="150"
                                            [minResizableWidth]="150">
                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                <input type="text" disabled ="true" class="form-control  form-control-sm text-right" id="" value={{dataItem.Machine_SetUp_Time}}
                                                    (change)="onChangegrid(dataItem.rowIndex,Machine_SetUp_Time.value,Machine_SetUp_Time.title)"
                                                    #Machine_SetUp_Time title="Machine_SetUp_Time" />
                                            </ng-template>
                                        </kendo-grid-column>
                                        <kendo-grid-column field="" title="Fit Min/Parts" filter="text" [width]="150"
                                            [minResizableWidth]="150">
                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                <input type="text" class="form-control  form-control-sm text-right" id="" value={{dataItem.Fit_Min_Parts}}
                                                    (change)="onChangegrid(dataItem.rowIndex,Fit_Min_Parts.value,Fit_Min_Parts.title)"
                                                    #Fit_Min_Parts title="Fit_Min_Parts" />
                                            </ng-template>
                                        </kendo-grid-column>
                                        <kendo-grid-column field="" title="Fit Total Min" filter="text" [width]="150"
                                            [minResizableWidth]="150">
                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                <input type="text" disabled ="true" class="form-control  form-control-sm text-right" id="" value={{dataItem.Fit_Total_Min}}
                                                    (change)="onChangegrid(dataItem.rowIndex,Fit_Total_Min.value,Fit_Total_Min.title)"
                                                    #Fit_Total_Min title="Fit_Total_Min" />
                                            </ng-template>
                                        </kendo-grid-column>
                                        <kendo-grid-column field="" title="Fit Total Hrs" filter="text" [width]="150"
                                            [minResizableWidth]="150">
                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                <input type="text" disabled="true" class="form-control  form-control-sm text-right"
                                                    id="" value={{dataItem.Fit_Total_Hrs}} (change)="onChangegrid(dataItem.rowIndex,Fit_Total_Hrs.value,Fit_Total_Hrs.title)"
                                                    #Fit_Total_Hrs title="Fit_Total_Hrs" />
                                            </ng-template>
                                        </kendo-grid-column>
                                        <kendo-grid-column field="" title="Weld" filter="text" [width]="150"
                                            [minResizableWidth]="150">
                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                <input type="text" class="form-control  form-control-sm text-right" id="" value={{dataItem.Weld}}
                                                    (change)="onChangegrid(dataItem.rowIndex,Weld.value,Weld.title)"
                                                    #Weld title="Weld" />
                                            </ng-template>
                                        </kendo-grid-column>
                                        <kendo-grid-column field="" title="Weld Total Min" filter="text" [width]="150"
                                            [minResizableWidth]="150">
                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                <input type="text" disabled ="true" class="form-control  form-control-sm text-right" id="" value={{dataItem.Weld_Total_Min}}
                                                    (change)="onChangegrid(dataItem.rowIndex,Weld_Total_Min.value,Weld_Total_Min.title)"
                                                    #Weld_Total_Min title="Weld_Total_Min" />
                                            </ng-template>
                                        </kendo-grid-column>
                                        <kendo-grid-column field="" title="Weld Total Hrs" filter="text" [width]="150"
                                            [minResizableWidth]="150">
                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                <input type="text" disabled="true" class="form-control  form-control-sm text-right"
                                                    id="" value={{dataItem.Weld_Total_Hrs}} (change)="onChangegrid(dataItem.rowIndex,Weld_Total_Hrs.value,Weld_Total_Hrs.title)"
                                                    #Weld_Total_Hrs title="Weld_Total_Hrs" />
                                            </ng-template>
                                        </kendo-grid-column>
                                        <kendo-grid-column field="" title="Plumbing Total Min" filter="text" [width]="150"
                                            [minResizableWidth]="150">
                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                <input type="text" class="form-control  form-control-sm text-right" id="" value={{dataItem.Plumbing_Total_Min}}
                                                    (change)="onChangegrid(dataItem.rowIndex,Plumbing_Total_Min.value,Plumbing_Total_Min.title)"
                                                    #Plumbing_Total_Min title="Plumbing_Total_Min" />
                                            </ng-template>
                                        </kendo-grid-column>
                                        <kendo-grid-column field="" title="Plumbing Total Hrs" filter="text" [width]="150"
                                            [minResizableWidth]="150">
                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                <input type="text" disabled="true" class="form-control  form-control-sm text-right"
                                                    id="" value={{dataItem.Plumbing_Total_Hrs}} (change)="onChangegrid(dataItem.rowIndex,Plumbing_Total_Hrs.value,Plumbing_Total_Hrs.title)"
                                                    #Plumbing_Total_Hrs title="Plumbing_Total_Hrs" />
                                            </ng-template>
                                        </kendo-grid-column>
                                        <!-- <kendo-grid-column field="delete" title="" template="" [width]="60"
                                            [minResizableWidth]="60">
                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                <button type="button" class="btn btn-danger btn-sm btn-icon" (click)="onDeletGrideRow(dataItem.rowIndex)">
                                                    <svg viewBox="0 0 753.23 753.23" class="icon">
                                                        <use xlink:href="#bin"></use>
                                                    </svg>
                                                </button>
                                            </ng-template>
                                        </kendo-grid-column> -->
                                    </kendo-grid>
                                </div>
                            </div>

                        </div>



                    </div>
                </div>
                <div class="sticky-bottom-toolbar d-flex align-items-center justify-content-end border-top pt-2">
                    <div class="mr-auto d-flex align-items-center flex-wrap">
                        <button type="button" (click)="onSave()" class="btn btn-sm btn-success with-icon mr-2">
                            <svg viewBox="0 0 512 512" class="icon">
                                <use xlink:href="#saveDisk"></use>
                            </svg>Save </button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>

<span [hidden]="showLookupLoader">
    <app-lookup [lookupfor]='lookupfor' [serviceData]='serviceData' (lookupvalue)="getLookupValue($event) "
        [selectedImage]="selectedImage" (lookupvalues)="getLookupValues($event)"></app-lookup>
</span>