<div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header"><strong>Master Dashboard</strong></div>
          <div class="card-body master-dashbaord">
            <!-- <div class="row">
                <div class="col-md-12 master-dash-btn button">
                    <button type="button" class="btn btn-primary">Assembly Relation</button>
                    <button type="button" class="btn btn-primary">Item Master</button>
                    <button type="button" class="btn btn-primary">Estimation Group</button>
                    <button type="button" class="btn btn-primary">Markup Category</button>
                    <button type="button" class="btn btn-primary">Customer Vendor Master</button>
                    <button type="button" class="btn btn-primary">Contact Master</button>
                    <button type="button" class="btn btn-primary">Catalogue Master</button>
                    <button type="button" class="btn btn-primary">Resource Master</button>
                    <button type="button" class="btn btn-primary">Department Master</button>
                    <button type="button" class="btn btn-primary">Overhead Master</button>
                    <button type="button" class="btn btn-primary">Estimation Workings</button>
                </div>
            </div> -->
            
            <div class="w-100  d-flex align-items-center flex-wrap">
                <a class="btn btn-app d-flex align-items-center" routerLink="{{assembly_relation_view_link}}">
                  <i class="fa fa-user"></i> Assembly Relation
                </a>
                <a class="btn btn-app d-flex align-items-center" routerLink="{{estimate_item_view_link}}">
                  <i class="fa fa-list-alt"></i> Item Master
                </a> 
                <a class="btn btn-app d-flex align-items-center" routerLink="{{estimate_group_link}}">
                  <i class="fa fa-users"></i> Estimation Group
                </a>
                <a class="btn btn-app d-flex align-items-center" routerLink="{{estiMarket_ctg_link}}">
                  <i class="fa fa-list"></i> Markup Category
                </a>
                <a class="btn btn-app d-flex align-items-center" routerLink="{{custVen_add_edit_link}}"> 
                  <i class="fa fa-briefcase"></i> Customer Vendor Master
                </a>
                <a class="btn btn-app d-flex align-items-center" routerLink="{{contact_add_edit_link}}">
                  <i class="fa fa-address-card"></i> Contact Master
                </a>

                </div> 
            <div class="w-100  d-flex align-items-center flex-wrap" routerLink="{{category_add_edit_link}}">
                <a class="btn btn-app d-flex align-items-center">
                    <i class="fa fa-file-text"></i> Catalogue Master
                  </a> 
                  <a class="btn btn-app d-flex align-items-center" routerLink="{{resource_view_link}}">
                    <i class="fa fa-inbox"></i> Resource Master
                  </a>
                  <a class="btn btn-app d-flex align-items-center" routerLink="{{depart_view_link}}">
                    <i class="fa fa-building"></i> Department Master
                  </a>
                  <a class="btn btn-app d-flex align-items-center" routerLink="{{overhead_view_link}}">
                    <i class="fa fa-graduation-cap"></i> Overhead Master
                  </a> 
                  <a class="btn btn-app d-flex align-items-center" routerLink="{{estimate_working_add_edit_link}}">
                      <i class="fa fa-heart"></i> Estimation Workings
                    </a>
            </div>
                
                
                
                
              
          </div>
          
      </div>
    </div>
  </div>