<div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header"><strong>Estimation List</strong></div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <table class="table table-bordered table-striped table-sm">
                    <thead>
                        <tr>
                            <th>Estimation List</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="pointer" routerLink="{{estimationCost_rout_Link}}"> Estimation Cost of Laptop</td>
                            <td class="text-center">
                                <button type="button" class="btn btn-sm btn-icon mr-2 btn-primary" routerLink="{{estimationCost_rout_Link}}">
                                    <i class="fa fa-edit"></i>
                                </button>
                                <button type="button" class="btn btn-sm btn-icon mr-2 btn-danger">
                                    <i class="fa fa-trash"></i>
                                </button>
                            
                            </td>
                        </tr>
                        <tr>
                            <td class="pointer" routerLink="{{estimationCost_rout_Link}}">Estimation Cost of Car</td>
                            <td class="text-center">
                                <button type="button" class="btn btn-sm btn-icon mr-2 btn-primary" routerLink="{{estimationCost_rout_Link}}">
                                    <i class="fa fa-edit"></i>
                                </button>
                                <button type="button" class="btn btn-sm btn-icon mr-2 btn-danger">
                                    <i class="fa fa-trash"></i>
                                </button>
                            
                            </td>
                        </tr>
                        <tr>
                            <td class="pointer" routerLink="{{estimationCost_rout_Link}}">Estimation Cost of Airoplane</td>
                            <td class="text-center">
                                <button type="button" class="btn btn-sm btn-icon mr-2 btn-primary" routerLink="{{estimationCost_rout_Link}}">
                                    <i class="fa fa-edit"></i>
                                </button>
                                <button type="button" class="btn btn-sm btn-icon mr-2 btn-danger">
                                    <i class="fa fa-trash"></i>
                                </button>
                            
                            </td>
                        </tr>
                        </tbody>
                    </table>
              
              </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>