<div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header"><strong>{{language.AssemblyTitle}}</strong></div>
          <div class="card-body">
            <div class="form-group mb-0">
              <div class="checkbox">
               <label class="d-flex align-items-center justify-content-end">
               <input id="agree" class="mr-1" type="checkbox" name="agree" [(ngModel)] = "isActive" value="agree"> Is Active
               </label>
               </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                    <label for="name">{{language.ParentAssy}}</label>
                    
                <div class="input-group bar-box">
                  <input class="form-control"  autocomplete="off" id="appendedInput" [(ngModel)] = "assembelyAddEditModel.OPTM_PARENT_ASSB"
                    type="text">

                  <div class="input-group-append p" (click)="fetchItemlookupData($event)">
                    <span class="input-group-text">
                      <i class="fa fa-bars"></i>
                    </span>
                  </div>
                </div>
                    </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                    <label for="name">{{language.SubAssy}}</label>
                    <div class="input-group bar-box">
                      <input class="form-control"  autocomplete="off" id="appendedInput" [(ngModel)] = "assembelyAddEditModel.OPTM_CHILD_ASSB"
                        type="text">
    
                      <div class="input-group-append c" (click)="fetchItemlookupData($event)">
                        <span class="input-group-text">
                          <i class="fa fa-bars"></i>
                        </span>
                      </div>
                    </div>
                    </div>
              </div>
            </div>
           
           
            
           
          </div>
          <div class="card-footer">
              <button type="submit" class="btn btn-sm btn-success" (click)="onSave()">
                  <i class="fa fa-dot-circle-o"></i> {{language.Save}} 
                </button>
                <button type="reset" routerLink="{{view_route_link}}" class="btn btn-sm btn-danger">
                    <i class="fa fa-ban"></i> {{language.Cancel}}
                </button>
                </div>
        </div>
      </div>
    </div>
  </div>

  <span *ngIf="showLookupLoader">
    <app-lookup [lookupfor]='lookupfor' [serviceData]='serviceData' [selectedImage]="selectedImage"
      (lookupvalue)="getLookupValue($event)" (lookupvalues)="getLookupValues($event)"></app-lookup>
  </span>