
@media(max-width:1024px){
    .btn-app {
        font-size: 14px;
        min-width: 230px;
    }
}

@media(max-width:992px){
    .app-header .navbar-toggler:nth-of-type(4) {
        color: #fff;
        display: none;
    }
}
@media(max-width:768px){
    .card-body.master-dashbaord{
        padding: 10px 5px;
    }
    .btn-app {
        font-size: 13px;
        min-width:220px;
        height: 50px;
    }
}
@media(max-width:767px){
    .mobile-table .k-grid-pager{
        display:none !important;
    }
    .k-pager-nav.k-link, .k-pager-numbers .k-link.k-state-selected{
        min-width:auto;
        height:28px;
    }
    .k-pager-refresh, .k-pager-nav.k-link {
        background-color: #fff;
    }
    .card {
        margin-bottom: 1rem;
    }
    .card.card-moblie-view{
        margin-bottom: 5rem;
    }
    .dashboard-wrapper .card-body.dash-top-height {
        min-height: auto;
    }
    .k-pager-info {
        margin: 0 2px;
    }
    .k-grid th, .k-grid td{
        font-size:12px;
    }
    .main .container-fluid {
        padding: 0 15px;
    }
    .table-checkbox{
        width: 16px;
        height: 17px;
    }
    dl.opti_mobile_grid_dl {
        width: 100%;
        float: left;
        margin:0;
    }
    .table-itm-mobile dt {
        width: 50%;
    }
    .table-itm-mobile dd{
        width:45%;
        margin:0;
    }
    .mobile-table .k-grid-header .k-header:first-child {
        display: none;
    }
    .mobile-table .k-grid td{
        padding:0;
    }
    .mobile-table .k-grid.k-grid-no-scrollbar .k-grid-header{
        border:0;
    }
    .table-itm-mobile {
        padding: 4px;
        font-size: 12px;
    }
    .mobile-table .k-grid {
        border-color: #c8ced3;
        color: #23282c;
        background-color: #fff;
    }
    .mobile-table .btn-sm{
        padding: 2px 4px;
        font-size: 11px;
        line-height: 1.5;
        border-radius: 0.2rem;
    }
    .mobile-table kendo-grid-toolbar.k-grid-toolbar.k-header {
        margin-bottom: 0px;
    }
    .mobile-table .form-control {
        height: 25px;
    }
    .card-body.master-dashbaord {
        padding: 1.25rem;
    }
    .btn-app {
        font-size: 13px;
        min-width: 100%;
        height: 50px;
        margin: 0 0 10px 0;
    }
    // .sidebar-fixed.sidebar-show .app-header .navbar-toggler-icon:before {
    //     content: "\ea1d";
    // }
    // .app-header .navbar-toggler-icon:before {
    //     content: "\ea1c";
    // }
    
}
@media(max-width:576px){
    ul.nav.navbar-nav.top-icon-list.d-block.d-sm-none{
        display: flex !important;
        width: 100%;
        text-align: center;
        justify-content: center;
        margin: 5px 0;
        }
    .app-footer {
        flex: 0 0 50px;
        position: fixed;
        bottom: 0;
        }
}